.container{
    text-align: center;
    margin-top:23px;
}

table{
    margin:auto;            
}

input{
    font-size: 30px;
    border:solid 5px black;
    border-radius:18px ;
    height:50px;
    width: 394px;
}

button{
    font-size: 23px;
    background: #f8fffdcc;
    width: 81px;
    
    border-radius: 20px;
    height: 68px;
    margin: 5px;
}
button:hover{
    background: rgb(158, 75, 75);
}

.calculator{
    display:inline-block;           
    background-color: #ff0058d6;
    padding: 23px;
    border-radius: 53px;
    border:solid 4px black;
}

h1{
    font-size: 44px;
    font-family:'Courier New', Courier, monospace;
    text-decoration: underline;
    margin: 11px;
}